$bg-color: #f7e7ce;
$main-color: #d65242;
$main-color-hover: #d65142e1;
$second-color: #d0ac90;
$second-color-hover: #d0ac90d9;
$accent-color: #536a79;
$accent-color-hover: #658093;
$overlay: #00000099;
$white: #f1eff0;
$white-hover: #f1eff0de;
$white-for-char: #fff;
