/* Accent Color: #536a79 */

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  /* background-color: #f1eff0; */
  background-color: #f7e7ce;
}

.ribbon {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 10px 0;
}

.logOutButton {
  width: 100%;
  height: 30px;
  background-color: #d0ac90;
  border: #d0ac90 1px solid;
  color: #fff;
  font-size: 16px;
}

.logOutButton:hover {
  background-color: #d0ac90d9;
  border: #d0ac90d9 1px solid;
}

.loginFormWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loginForm {
  background-color: #536a79;
  width: 50%;
  height: auto;
  display: flex;
  gap: 40px;
}

.loginTitle {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.loginButton {
  border-radius: 15px;
  width: 150px;
  height: 30px;
  background-color: #d65242;
  border: #d65242 1px solid;
  color: #f1eff0de;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  border: 1px solid #d65242;
  background-color: #d65142e1;
}

.loginControlLink {
  color: #f1eff0de;
  cursor: pointer;
}

.loginControlLink:hover {
  text-decoration: underline;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.searchIcon {
  font-size: 18px;
}

.searchInput {
  position: relative;
  align-items: end;
  border-radius: 15px;
  border: #536a79 1.2px solid;
  width: 90%;
  height: 30px;
  padding: 0 15px;
}

.addButton {
  border-radius: 15px;
  width: 15%;
  height: 30px;
  background-color: #536a79;
  border: #536a79 1px solid;
  color: #fff;
  font-size: 16px;
}

.addButton:hover {
  background-color: rgb(101, 128, 147);
}

.noItems {
  margin: 40px;
  font-size: 20px;
  color: #536a79;
  font-weight: bold;
}

form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0ac90;
  /* background-color: #a7c2d7; */

  padding: 24px;
  border-radius: 8px;
  text-align: center;
}

.formTitle {
  color: #536a79;
  -webkit-text-stroke: 0.3px black;
  font-size: 30px;
  margin: 3px;
}

.formContent {
  /* background-color: #d65242; */
  width: 80%;
  height: 80%;
  margin: 1px;
  font-size: 30px;
}

.newWord {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 4px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.ddoIcon {
  text-decoration: none;
}

.ddoIcon:hover {
  background-color: rgb(101, 128, 147);
  cursor: pointer;
  border-radius: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.charButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 70px;
}

.specialCharButton {
  background-color: #f1eff0;
  border: #f1eff0;
  color: #536a79;
  padding: 1px;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: 0.1px #fff;
  cursor: pointer;
}

.specialCharButton:hover {
  background-color: #f1eff0de;
  border-color: #f1eff0de;
}

.formControlButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.formButton {
  border-radius: 15px;
  width: 150px;
  height: 30px;
  background-color: #536a79;
  border: #536a79 1px solid;
  color: #f1eff0de;
  font-weight: bold;
  cursor: pointer;
}

.formButton:hover {
  background-color: rgb(101, 128, 147);
  border: rgb(101, 128, 147) 1px solid;
}

input {
  width: 70%;
  height: 40px;
  color: #536a79;
  border: #536a79 0.5px solid;
  font-size: 20px;
  border-radius: 12px;
  padding: 0 15px;
}

a:hover {
  background-color: #536a79;
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  height: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #536a79;
  -webkit-text-stroke: 0.2px #fff;
}

.select {
  width: 10%;
  height: 25px;
  font-size: 15px;
  color: #536a79;
  -webkit-text-stroke: 0.2px #fff;
  background-color: #f7e7ce;
  padding: 2px;
  font-weight: bold;
  border-radius: 7px;
  border: #536a79 1.4px solid;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid #d65242;
  background-color: #d65242;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  border-radius: 7px;
  aspect-ratio: 3 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.card:hover {
  border: 1px solid #d65242;
  background-color: #d65142e1;
}

.controlButtons {
  position: absolute;
  top: 5%;
  right: 3%;
  display: flex;
  gap: 10px;
  height: 17%;
}

.cardContent {
  height: 60%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.selected {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  color: #e03131;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 3 / 1;
}

div.selected:hover {
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.601);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .header {
    gap: 3%;
  }
  .loginForm {
    width: 100%;
  }
  .logOutButton {
    width: 20%;
  }
  input {
    width: 85%;
  }
  .select {
    width: 20%;
  }
  .addButton {
    width: 40%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  form {
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .loginForm {
    width: 80%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  input {
    width: 80%;
  }
  .select {
    width: 20%;
  }
  .addButton {
    width: 20%;
  }
  form {
    width: 70%;
  }
}
